.glyphicon{
  font-size: 15px;
  margin: 7px;
}

.favorite-forecast__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 20%;
}

.next_left{
  float: left;
  cursor: pointer;
}

.next_right{
  float: right;
  cursor: pointer;
}
