
<button class="btn  btn btn-warning see-forecast_click" style="width: 100%; height: 40px" (click)="showForecast()" >
  <p>TAP TO SEE FORECAST <span class="glyphicon glyphicon-chevron-down"></span></p>
</button>

<div class="favorite-forecast__container" *ngIf="isShowedForecast">
  <div class="next_left" (click)="showWeatherItemLeft()">
    <p><span class="glyphicon glyphicon-chevron-left"></span></p>
  </div>

  <div class="weather-details">
    <app-weather-details [isShowBackgroundImage]="false" [dailyForecast]="currdailyForecast" ></app-weather-details>
  </div>

  <div class="next_right" (click)="showWeatherItemRight()">
    <p><span class="glyphicon glyphicon-chevron-right"></span></p>
  </div>
</div>




