<p>
  user-login works!
</p>

<div class="login__wrapper">
  <mat-card class="login_card">
    <div class="user">
      <mat-form-field class="example--width">
        <input matInput placeholder="Enter login"

        >
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field>
        <input matInput placeholder="Password"
          type="password"

        >
      </mat-form-field>
    </div>
    <div class="accept">
      <button mat-raised-button
        color="primary"
        >Enter</button>
    </div>
  </mat-card>
</div>
