//app-weather-card{
//  display: flex;
//}

.search-city{
  margin: 1em 5em 1em 5em;
  justify-content: center;
  align-items: center;
  //width: 100px;
}

.search-city__input{
  margin: 1em;
  padding: 2px;
  font-size: large;
  text-transform: uppercase;
}

.weather-container{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.weather-card__item{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 20em;
  //align-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  //width: 30%;
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.428571429;
  color: #333333;
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
  border-bottom: 2px solid #ff4f98;
}

.weather-card__item > div{
  margin: 5px;
}

.weather-card__condition-icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: 7px;
  width: 100%;
}

.weather-card__temp{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-card__temp-value{
  font-size: xx-large;
}

.weather-card__condition-icon{
  width: 70%;
}

.weather-card__condition-icon img{
  width: 90%;
}

// forecast weather
.forecast-weather{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
  padding: 5px;
  //width: 70%;
  height: 20em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.428571429;
  color: #333333;
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
  border-bottom: 2px solid #ff4f98;
}

// coteiner for forecast

.forecast-weather__container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  //width: 100%;
  //background-color: #feb020;
}

//.wMain{
//  display: flex;
//  justify-content: space-around;
//}

.lSide {
  position: relative;
  display: block;
  font-size: 2em;
  width: 20%;
  float: left;
  margin-right: 4px;
}

.weatherIcoCurrent img{
  width: 3em;
}


.rSide{
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.weatherDetails {
  border-collapse: collapse;
  width: 100%;
}

.weatherDetails tr.temperature td {
  font-size: 15px;
}
.weatherDetails td.bR{
  border-right: #dfdfdf 1px solid;
}
.weatherDetails td {
  font-size: .7em;
  height: 35px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.calendBlock {
  width: 100px;
  text-align: center;
  padding: 0px 0 0 0px;
  //height: 166px;
}

.infoDaylight {
  display: block;
  width: 100px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  color: #777;
  font-size: 11px;
  // height: 22px;
  line-height: 22px;
  margin: 0 0 0 8px;
  text-align: center;
}

.titles {
  font-size: 11px;
  color: #777;
  //top: 75px;
  //left: 120px;
  margin-top: 45px;
  padding: .3em;
  // width: 130px;
  //position: absolute;
}

.titles p {
  padding: 0px 0;
  text-align: right;

}

.weatherImg{
  width: 80%;
}

.display-none{
  display: none;
}

.show{
  //display: flex;
}

