<!--The content below is only a placeholder and can be replaced.-->

<div class="title" *ngIf="title">
  <div class="logo__container">
    <img class="logo" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="h1">
    <h1>
      Welcome to {{ this?.title }}
    </h1>
  </div>
</div>

<nav>
  <ul class="nav nav-tabs justify-content-center" ngcli>
    <li class="my-drop-down-menu nav-item ">
      <div class="user__link">
        <div class="user-menu" appShowUserMenu (clickOutside)="showUserMenuByClick($event)">
          <p>    <span id="user" class="user glyphicon glyphicon-user" (click)="showUserMenuByClick($event)"></span></p>
          <div id="user-menu__content" class="user-menu__content" [ngClass]="{'user-menu__opened': isOpened}">
              <app-user-profile></app-user-profile>
          </div>
        </div>
      </div>

    </li>
    <li class="nav-item mr-auto login" *ngIf="!(auth.user | async); else signOut">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="login">LOGIN</a>
    </li>
    <ng-template #signOut>
      <li class="nav-item mr-auto signout" >
        <a class="nav-link" (click)="logOut()">LogOUT</a>
      </li>
    </ng-template>
    <li class="nav-item mr-lg-auto signout">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">TODAY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="favorites">FAVORITE</a>
    </li>
  </ul>
</nav>

<!--<app-weather-card></app-weather-card>-->



<router-outlet></router-outlet>
