//app-weather-card{
//  display: flex;
//}

.search-city{
  margin: 1em 5em 1em 5em;
  justify-content: center;
  align-items: center;
  //width: 100px;
}

.search-city__input{
  margin: 1em;
  padding: 2px;
  font-size: large;
  text-transform: uppercase;
}

.weather-container{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.weather-card__item{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 20em;
  //align-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  //width: 30%;
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.428571429;
  color: #333333;
  background-image: linear-gradient(to top left,#feb020,#ffd05c);
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
  border-bottom: 2px solid #ff4f98;
}

.weather-card__item > div{
  margin: 5px;
}

.weather-card__condition-icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: 7px;
  width: 100%;
}

.weather-card__temp{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-card__temp-value{
  font-size: xx-large;
}

.weather-card__condition-icon{
  width: 70%;
}

.weather-card__condition-icon img{
  width: 90%;
}
